/* google font  */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap");
body {
    font-family: "Roboto", sans-serif;
}

.package-color {
    color: #231d4f;
}

.package-btn-color {
    background-color: #8614f8;
}

.planner-text-color {
    color: #8614f8;
}